<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Index prros</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <h1>Esto es h1 en head</h1>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h2>tipo de texto h2 de html</h2>
        {{ link_html_views }}
        <h3>y tambien mas cosas (tipo h3)</h3>
        <h4>esto es h4 en body </h4>
        <h1>Ir a /form1browser para llenar la form (h1 en body)</h1>
      </div>

    </div>

  </body>
</html>
